.panel-overlay {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px;
    margin: 20px auto;
    border-radius: 12px;
    color: #0D1B2A;
    width: 80%;
    max-height: 80%; /* Incrementar el tamaño máximo */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Habilitar scroll vertical */
}

.table-container {
    width: 100%;
    max-height: 400px; /* Limitar la altura máxima de la tabla */
    overflow-y: auto; /* Habilitar scroll vertical dentro de la tabla */
    margin-bottom: 20px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.cantidad-input {
    width: 80px;
    padding: 5px; 
    font-size: 12px;
}

.envios-table th, .envios-table td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: center;
}

.envios-table th {
    background-color: #96c8ec;
    font-weight: bold;
}

.envios-table tr:hover {
    background-color: #f1f1f1;
}

/* ======= BOTONES ======= */
.add-button {
    margin: 20px;
    background: linear-gradient(to right, #000000, #2c2c54);
    color: white;
    width: 200px;
    font-size: small;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}

.submit-button{
    margin: 5px 20px;
    background: linear-gradient(to right, #000000, green);
    color: white;
    width: 200px;
    font-size: small;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}

.add-row-button, .remove-row-button, .cancel-button {
    margin: 5px 20px;
    padding: 0px 10px;
    background: rgb(5, 5, 106);
    color: white;
    min-width: 30px;
    height: 30px;
    font-size: small;
    border-radius: 5px;
}

.add-button:hover {
    background: darkslateblue;
}

.cancel-button:hover, .remove-row-button:hover {
    background: red;
}

.submit-button:hover, .add-row-button:hover {
    background: limegreen;
}

.estatus-grey {
    background-color: grey;
    color: white;
}

.estatus-green {
    background-color: green;
    color: white;
}

.estatus-blue {
    background-color: blue;
    color: white;
}