.panel-overlay {
  background: linear-gradient(217deg, grey, white, grey);
  background-color: white;
  box-shadow: inset 5px 5px 5px whitesmoke, inset -4px -4px 5px black, 4px 4px 14px rgba(0,0,0,.1);
  padding: 30px;
  margin: 20px; /* Centrar horizontalmente */
  border-radius: 12px;
  color: #0D1B2A;
  width: 80%;
  max-height: 90vh;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column; /* Alinear elementos verticalmente */
  align-items: center; /* Centrar horizontalmente los hijos */
}

.main-button {
  margin: 20px 0; /* Espaciado alrededor del botón */
}

.envio-table {
    border-collapse: collapse;
    width: 100%; /* Ocupa el 100% del ancho disponible */
    min-width: 50%;
    margin-top: 20px;
    background-color: white;
    text-align: center; /* Centrar texto dentro de la tabla */
}

.envio-table th, .envio-table td {
    border: 1px solid #cccccc;
    min-width: 300px; /* Ancho mínimo para las celdas */
    padding: 10px;
    text-align: center;
}

.envio-table th {
    background-color: #e3f2fd;
    font-weight: bold;
}

.envio-table tr:hover {
    background-color: #f1f1f1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-height: 90vh; /* Máximo 90% de la altura de la pantalla */
  overflow-y: auto; /* Habilitar scroll vertical si el contenido excede la altura */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
