.navbar {
  display: flex;
  position: sticky;
  z-index: 1;
  top: -1;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #000000, #2c2c54);
  color: #E3F2FD;
  font-size: 16px;
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 30px;
}

.logout-button {
  border: 1px solid black;
	background: rgb(2, 6, 38);
  color: whitesmoke;
	border-radius: 6px;
	box-shadow: inset 3px 3px 3px grey, inset -2px -2px 3px black, 2px 2px 10px rgba(0,0,0,.1);
	text-align: center;
  width: 130px;
  margin: 10px;
  padding: 10px;
}

.logout-button:hover {
  background-color: skyblue; /* Azul claro vibrante */
  color: black;
  border-color: #1E88E5;
}
