.dashboard-container {
  display: flex;
  height: 100vh;
  flex: 1;
  font-family: 'Segoe UI', sans-serif;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('bg.jpg'); /* Asegúrate de que bg.jpg esté correctamente ubicado */
  background-size: cover;
  background-position: center;
}

.sidebar {
  width: 250px;
  min-width: 220px;
  padding: 20px;
  gap: 15px;
  font-family: 'Segoe UI', sans-serif;
}

.main-button {
  background: linear-gradient(to right, #000000, #2c2c54);
  color: white;
  border: none;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  transition: background 0.3s ease;
}

.main-button:hover {
  background: linear-gradient(to right, #1e1e2f, #4a4a75);
}

.panel-content {
  flex: 1;
  padding: 1.5rem;
  overflow: auto;
  font-family: 'Segoe UI', sans-serif;
}
