.zonal-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    background-image: url('../Misc/bg.jpg');
    background-size: cover;
    background-position: center;
}

.zonal-header {
    padding: 5px;
    text-align: center;
}

.main-button-z {
    border: 1px solid black;
	background: rgb(2, 6, 38);
    color: whitesmoke;
	border-radius: 6px;
	box-shadow: inset 3px 3px 3px grey, inset -2px -2px 3px black, 2px 2px 10px rgba(0,0,0,.1);
	text-align: center;
    width: 200px;
    margin: 10px 50px;
    padding: 10px;
}

.main-button-z:hover {
    background-color: skyblue;
    color: black;
}

.zonal-content {
    display: flex;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.display-central {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.box-central-superior{
    display: flex;
    columns: 2;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.box-finance, .box-inventory, .box-tareas, .display-izq, .display-der  {
    align-items: center;   
    background-color: aquamarine;
    box-shadow: inset 5px 5px 5px whitesmoke, inset -4px -4px 5px black, 4px 4px 14px rgba(0,0,0,.1);
    border-radius: 15px;
    padding: 5px 20px;
    text-align: center; 
}

.display-izq, .display-der {
    width: 50%;
    max-width: 1200px;
    height: 500px;
    margin: 10px 20px;
    box-sizing: border-box;
}

.box-finance, .box-inventory {
    width: 50%;
    height: 100px;
}


.box-tareas {
    grid-column: 1 / -1;
    height: 100%;
    margin-top: 30px;
}